body{
    background-color: rgb(198, 208, 240);
}

.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #ddf4fa;
  color: #333333;
  padding: 6px 12px 6px 12px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
}







